@charset "UTF-8";

@media screen and (max-width:400px) {
    .postes{
        margin-top: 35px;
        float: left;
        
    }
    .imgreceita {
        width: 100px;
    }
}

@media screen and (min-width: 500px) {
    

    #cabecalho {
        width: 500px;
        margin: auto;
        
    }

    main {
        width: 500px;
        
    }
}